@media (min-width: 200px) and (max-width: 768px) {
	div.facets { width:100%; }
	div#results { width:100%;  }
	div#xfsPropertyFacetContainer { display: none; }
}

@media (min-width: 769px) and (max-width: 1100px) {
	div.facets { width:30%; }
	div#results { width:65%; }  
}

@media (min-width: 1101px) and (max-width: 1920px) {
	div.facets { width:25%; }
	div#results { width:70%; }  
}

@media (min-width: 1921px) {
	div.facets { width:15%; }
	div#results { width:80%; }  
}

#fs_query_button, .fs_category_filter, .fs_sort_order {
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 0px;
}

#search_button {
	font-size: 18px;
	padding: 1% 0; /* for vertical alignment middle */
}

.facets {
	float: left;
	padding: 0 0 10px 10px;
	word-wrap: break-word;
}

.detailsImage {
	cursor: pointer;
}

#query {
	min-width: 80%;
	font-size: 18px;
	padding: 1% 0; /* for vertical alignment middle */
}

.xfsFacetHeader {
	font-weight: bold;
}

.xfsComponentHeader {
	font-weight: bold;
	font-size: medium;
}

/*
.xfsHighlightSearch {
	background-color: #EEF3FF;
} 
*/

.results {
	float: right;
	padding: 10px 20px 10px 40px;
	border-left: 1px solid #aaa;
	text-align: left;
	line-height: 1.3em;
}
.xfsResult {
	margin-bottom: 20px;
}
.xfsResult a {
	cursor: pointer;
}
.xfsResult p {
	margin: 0;	
}
.xfsResultTitle {
	font-weight: bold;
}
.xfsResult img {
	margin-left: 5px;
	vertical-align: text-bottom;
}
.xfsResultCategory {
	margin-bottom: 2px;
}
.xfsResultModified {
	color: darkgreen;
	font-size: 90%;
	padding-top: 1px;
}
.xfsResultTable table {
	border: 1px solid #BFBDBD;
	border-collapse: collapse;
	width: 100%;
}
.xfsResultTable table tr.s0 {
	background-color: #EEF3FF;
}
.xfsResultTable table tr.s1 {
	background-color: #FFFFFF;
}
.xfsResultTable table td:first-child {
	width: 150px;
	vertical-align: top;
}
.xfsResultTable table td:first-child:after {
	content: ':';
}
.xfsResultTable table td {
	padding: 2px 15px 2px 5px;
}

.xfsPromotedResult {
	background-color: beige;
}

.xfsDemotedResult {
	color: gray;
}

.xfsClusterEntry {
	margin-left: 3em;
}

.xfsClusterTitle {
	margin-left: 2em;
}

#pager {
	display: inline;
	list-style-type: none;
	padding: 0;
	font-weight: bold;
}
#pager li {
	display: inline;
	margin: 0 3px;
}
#pager-header {
	color: gray;
	font-size: 90%;
	margin-bottom: 10px;
}

#selection > span > img {
	padding-left: 3px;
	vertical-align: text-bottom;
}

a.xfsFMore, a.xfsFLess {
	cursor: pointer;
}

#xfsFilterDebug {
	background-color: gold;
	border: 1px solid darkGoldenRod;
	font-size: 80%;
	line-height: 1em;
	margin: 0;
	padding: 2px 2px 2px 18px;	
}

.xfsMinor {
	color: gray;
	cursor: default;
}

.xfsSeparatorLine {
  background: none repeat scroll 0 0 #AAAAAA;
  border-top: medium none;
  height: 1px;
}

.xfsSelectedNamespace {
	font-weight: bold;
	font-size: larger;
	color: black !important;
}

.xfsNamespace {
	color: #116988;
	cursor: pointer;
}

.xfsEmptyNamespace {
	color: gray !important;
}

.xfsRemoveFacet {
	vertical-align: middle;
	cursor: pointer;
}

.xfsRemoveRange {
	vertical-align: middle;
	cursor: pointer;
}

.xfsNamespaces {
	margin-bottom: 10px;
}

.xfsRedLink {
	color: #CC2200 !important;
}

.xfsCurrentSearchLink {
	clear: both;
}

a.xfsAddFacetOperation {
	cursor: pointer;
}

div.xfs_additional_property_table {
	border: 1px solid;
	border-color: lightgray;
	display: block;
	width: 100%;
}

div.xfs_additional_property_table_row,div.xfs_additional_property_table_row_first {
	padding-top: 2px;
	padding-left: 2px;
	padding-bottom: 2px;
	display: inline-block;
	
}
.xfs_additional_property_label,
.xfs_additional_property_separator {
	color: gray;
}
/* 
table.xfs_additional_property_table td {
}
*/
table.xfs_additional_property_table td span.xfs_additional_property_value {
	font-size: 13px;
	font-style: italic;
	margin-left: 5px;
}

div.fs_error_hint {
	padding: 15px;
	background-color: red;
	color: white;
}

.globalSpinner{
	position:fixed;
	z-index:10000;/* make higher than whatever is on the page */
	top:0;
	left:0;
	right:0;
	bottom:0;
	margin:auto;
	width:100px;
	height:100px;
}
